*~
*.obj
*.o
Thumbs.db
*.pch
*.suo
*.cache
*.ncb
*.user.*
*.ilk
*.log
*.binlog
obj/
.vs/
*.sdf
*.filters
ipch/
*.user
Debug/
Release/
bin/
*.lib
*.exp
*.bak
*.pdb
teastest/teastest.exe
*.lnk
TEAC2/SmokeTests/*.asm
TEAC2/SmokeTests/*.exe
*.swo
